{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<main id="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center mt-3">Inscription</h1>
                {{form(form)}}
            </div>
        </div>
    </div>
</main>
{% endblock %}
